* {
  margin: 0;
}

.App {
  padding: 40px;
  text-align: center;
  background-color: lightgray;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 1rem;
  width: 80%;
}

h1 {
  margin: 30px;
}

h4 {
  margin: 20px;
}

.continent-button {
  margin-top: 20px;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 20px;
  height: 40px;
  width: 120px;
  background-color: darkgray;
  border: 1px solid black;
}

.meaning {
  padding: 20px;
}

.country {
  margin: 10px;
  padding: 5px;
  border: 1px solid darkgray;
  border-radius: 5px;
  width: 250px;
}
